package modal

templ Modal() {
	<dialog
		x-data="{ 
			close() { $el.remove(); },
		}"
		x-init="$el.hasAttribute('open') ? $el.remove() : $el.showModal()"
		@keydown.escape="close"
		tabindex="-1"
	>
		<div @click.outside="close">
			{ children... }
		</div>
	</dialog>
}
